apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  namespace: fastapi-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: api
        image: fastapi-gitops:v1
        ports:
        - containerPort: 8000
